{% raw %}{% load static %}<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ platform_name }}</title>
        <meta name="description" content="">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Custom styles for this template -->
        {% block styles %}{% endblock styles %}

    </head>

    <body class="{% block bodyclass %}{% endblock %}">

        {% block maincontent %}{% endblock %}

        {% block scripts %}{% endblock scripts %}

    </body>

</html>{% endraw %}